.container {
    padding-right: 130px;
    padding-left: 130px;
}

@media only screen and (min-device-width: 1366px) {
    .container {
        padding-left: unset;
        padding-right: unset;
        width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait),
    (max-device-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1023px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
