.searchBoxWrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jobSearchWrapper {
    min-height: 400px !important;
    margin-bottom: 10px;
    margin: 50px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .jobSearchWrapper {
        margin: 20px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .jobSearchWrapper {
        margin: 20px;
    }
}