.homepageWrapper {
    background-color: #ffffff;
}

.searchBoxWrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jobSearchWrapper {
    min-height: 500px !important;
    margin-bottom: 10px;
}

.header {
    color: #889196;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.carouselContainer {
    margin: 30px;
}

.featuredJobContainer {
    background-color: #e6e6e6;
    max-height: 800px;
    overflow: auto;
}

.featuredJobContainer > div {
    margin: 15px;
}

.featuredIndustries {
    box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
    height: 800px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.categoryLinks {
    color: #0073b1;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 7.5px 15px;
    text-decoration: underline;
    width: 50%;
}

.jobPostMessageContainer {
    margin-top: 40px;
}
