.jobDetailsCardWrapper {
    margin: 15px 30px;
    display: block;
}

.meta {
    margin: 15px auto;
}

.title {
    font-size: 22px;
    font-weight: 600;
}

.company,
.experience,
.location {
    font-size: 16px;
    font-weight: 500;
}

.overview {
    text-align: left;
    margin: 15px auto;
    font-size: 20px;
}

.description {
    margin: 15px auto;
}

.otherDetails {
    margin: 10px auto;
}

.buttonContainer {
    text-align: center;
}

.actionButtons {
    display: inline;
    margin-right: 20px;
}
