.profilePage {
    background-color: #fff;
}

.profileFlex,
.profileMetaData,
.profileDetails {
    display: flex;
    flex-direction: row;
}

.profileMetaData {
    display: flex;
    flex-direction: column;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.linkButton {
    float: right;
}

.linkButton button {
    padding: 0;
}

.linkButton button span {
    text-decoration: underline;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #3f3f3f;
    padding: 15px;
}

.sectionWrapper button {
    color: #fff;
    background-color: #0073b1;
}

.textButton button {
    background-color: transparent;
    color: #0073b1;
}

.header {
    align-self: flex-start;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.headerText {
    line-height: 40px;
}

.editorIcon {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    float: right;
}

.detailBlock {
    padding: 20px;
    width: 100%;
}

.subHeader {
    align-self: flex-start;
    color: #707070;
    display: block;
    font-size: 18px;
    font-weight: normal;
}

.addSkills {
    align-self: flex-end;
}

.addMore {
}

.addNew {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.addNew .buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.addNew .buttonContainer button {
    min-width: 20%;
}

.addNew .buttonContainer .deleteBtn {
    color: #0073b1;
    border-color: #0073b1;
    background-color: transparent;
}
.addFormLabel {
    margin-top: 10px;
}

.addFormLabel label span {
    font-size: 16px;
    color: #707070;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape),
    screen and (min-device-width: 1366px) and (orientation: landscape) {
    .profileFlex {
        flex-direction: row;
    }

    .profileMetaData {
        width: 300px;
    }

    .profileDetails {
        margin-left: 20px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .profileFlex {
        flex-direction: row;
    }

    .profileMetaData {
        width: 300px;
    }

    .profileDetails {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1023px) {
    .profileFlex {
        flex-direction: column;
    }
}
