.signInContainer {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.signInCover {
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.employee.signInCover {
    background-image: url(../../../images/employee-signin-cover.png);
    background-image: -webkit-image-set(
        url(../../../images/employee-signin-cover.png) 1x,
        url(../../../images/employee-signin-cover-2x.png) 2x
    );
    background-image: image-set(
        url(../../../images/employee-signin-cover.png) 1x,
        url(../../../images/employee-signin-cover-2x.png) 2x
    );
}

.employer.signInCover {
    background-image: url(../../../images/employer-signin-cover.png);
    background-image: -webkit-image-set(
        url(../../../images/employer-signin-cover.png) 1x,
        url(../../../images/employer-signin-cover-2x.png) 2x
    );
    background-image: image-set(
        url(../../../images/employer-signin-cover.png) 1x,
        url(../../../images/employer-signin-cover-2x.png) 2x
    );
}

.signInDetails {
    align-self: center;
    background-color: #ffffff;
    width: 45%;
    padding: 15px 60px;
    margin-top: 45px;
    margin-bottom: 45px;
    max-width: 500px;
    margin-left: auto;
}

.header {
    color: #0073b1;
    display: block;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
}

.message {
    color: #979a9c;
    display: block;
    font-size: 16px;
    margin: 5px auto;
    text-align: center;
    width: 90%;
    font-style: italic;
}

.rememberMeSection {
    margin: 10px 0;
    color: #999999;
    font-size: 16px;
}

.rememberMeSection label {
    color: #999999;
    font-size: 16px;
}

.rememberMeSection a {
    float: right;
}

.loginBtn,
.faceBookBtn,
.googleBtn {
    margin: 15px 0;
}

.loginBtn button {
    background-color: #0073b1;
}

.footerMessage {
    color: #999999;
    font-size: 16px;
    text-align: center;
}

.divider {
    color: #838689;
    font-size: 16px;
    font-style: italic;
}

.faceBookBtn button {
    background-color: #3b5998;
}

.faceBookBtn button:hover {
    background-color: #3b5998f0;
}

.googleBtn button {
    border-color: #de5246;
    background-color: #de5246;
}

.googleBtn button:hover,
.googleBtn button:active {
    background-color: #de5246d1;
    border-color: #de5246d1;
}

@media (min-width: 481px) and (max-width: 767px), (min-width: 320px) and (max-width: 480px) {
    .signInDetails {
        width: 100%;
        padding: 20px;
    }
}
