.simpleSeach {
    margin: 167px auto auto auto;
    display: flex;
    flex-direction: row;
}

.searchBox,
.actionsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

.searchBox {
    align-content: flex-start;
    background: rgba(255, 255, 255, 0.92);
    padding: 85px;
}

.actionsBox {
    background: rgba(24, 27, 24, 0.92);
    padding: 20px 30px;
}

.actionsBox.searchOpened {
    width: 0;
    display: none;
}

.actionsBox > span {
    align-self: center;
    color: #ffffff;
}

.uploadResume,
.createJobAlert {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.uploadResume {
    color: #000000;
}

.createJobAlert button {
    color: #ffffff;
    background-color: #56c596;
    border-color: #56c596;
}

.createJobAlert button:hover {
    color: #ffffff;
    background-color: #4fae85;
    border-color: transparent;
}

.searchHeader {
    color: #3d3d3d;
    font-size: 56px;
    font-weight: bold;
}

.addvanceSearchBtn {
    align-self: flex-end;
    padding: 0 !important;
}

.addvanceSearchBtn span {
    color: #889196;
    font-weight: bold;
    font-size: 16px;
}

.certain-category-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
    right: 12px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
    color: #666;
    font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
    border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
    padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
    text-align: center;
    cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
    max-height: 300px;
}

.certain-search-item-count {
    position: absolute;
    color: #999;
    right: 16px;
}

.certain-category-search.ant-select-focused .certain-category-icon {
    color: #108ee9;
}

.certain-category-icon {
    color: #6e6e6e;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 16px;
}

@media only screen and (max-device-width: 768px) {
    .simpleSeach {
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .searchBox {
        padding: 32px 22px;
    }

    .actionsBox {
        display: flex !important;
        width: 100% !important;
    }

    .searchHeader {
        font-size: 26px;
        text-align: justify;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .simpleSeach {
        height: 295px;
        width: 900px;
    }

    .searchHeader {
        font-size: 30px;
    }

    .searchBox.searchOpened {
        width: 900px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) and (orientation: landscape) {
    .simpleSeach {
        flex-direction: column;
        margin-top: 50px;
        width: 700px;
    }

    .searchBox {
        padding: 32px 22px;
        width: 700px;
    }

    .actionsBox {
        display: flex !important;
        width: 700px !important;
    }

    .searchHeader {
        font-size: 26px;
        text-align: justify;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .simpleSeach,
    .searchBox,
    .actionsBox {
        width: 600px !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .simpleSeach,
    .searchBox,
    .actionsBox {
        width: 95% !important;
    }

    .searchHeader {
        font-size: 19px;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 768px) and (orientation: portrait) {
    .simpleSeach,
    .searchBox,
    .actionsBox {
        width: 100% !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .simpleSeach,
    .searchBox,
    .actionsBox {
        width: 500px !important;
    }
}

@media only screen and (max-device-width: 992px) {
    .addvanceSearchBtn {
        align-self: center;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .simpleSeach {
        height: 295px;
        width: 670px;
        flex-direction: column;
    }

    .searchHeader {
        font-size: 20px;
    }

    .searchBox {
        padding: 20px;
    }

    .searchBox.searchOpened {
        width: 670px;
    }

    .actionsBox > span {
        font-size: 12px;
    }
}

/** Portrait and landscape iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .simpleSeach {
        width: 100%;
        flex-direction: row;
    }

    .searchHeader {
        font-size: 40px;
    }

    .searchBox.searchOpened {
        width: 100%;
    }
}

/** Desktops and laptops */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .simpleSeach {
        height: 295px;
        width: 1200px;
    }

    .searchBox {
        width: 700px;
    }

    .searchBox.searchOpened {
        width: 1200px;
    }

    .actionsBox {
        width: 500px;
    }

    .searchHeader {
        font-size: 40px;
    }
}
