.simpleSeach {
    border-radius: 4px;
    background-color: black;
    opacity: 0.8;
}

.qouteSection {
    margin: 30px 50px;
}

.addSection {
    margin: 5px 40px 30px 40px !important;
}

.buttonSection {
    margin: 5px 50px 10px 50px;
}

.qoute {
    color: #fff;
    display: block;
    font-style: italic;
    font-size: 20px;
    font-family: cursive;
}

.qouteBy {
    color: #fff;
    display: block;
}

.textButton {
    background-color: transparent;
    border: transparent;
    color: #fff;
    cursor: pointer;
    float: right;
    line-height: 20px;
}

.textButton:hover {
    font-size: 18px;
}

.certain-category-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
    right: 12px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
    color: #666;
    font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
    border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
    padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
    text-align: center;
    cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
    max-height: 300px;
}

.certain-search-item-count {
    position: absolute;
    color: #999;
    right: 16px;
}

.certain-category-search.ant-select-focused .certain-category-icon {
    color: #108ee9;
}

.certain-category-icon {
    color: #6e6e6e;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 16px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .qoute {
        font-size: 15px;
    }

    .qouteSection {
        margin: 10px 15px !important;
    }

    .addSection {
        margin: 10px 5px 20px 5px !important;
    }

    /* Hide button section in mobile for now*/
    .buttonSection {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .qoute {
        font-size: 15px;
    }

    .qouteSection {
        margin: 10px 15px !important;
    }

    .addSection {
        margin: 10px 5px 20px 5px !important;
    }

    /* Hide button section in mobile for now*/
    .buttonSection {
        display: none;
    }
}