.headerComp {
    background-color: #ffffff;
}

.headerWrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
}

.header {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    color: #0073b1;
    line-height: 70px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Segoe UI";
    height: 100%;
}

.submenu {
    color: #889196;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
    display: inline-block;
}

.submenu:hover {
    color: #000000;
}

.submenu:hover,
.submenu:active {
    border-bottom: 3px solid #56c596;
}

.linkDropDown {
    border-left: 4px solid #fff;
    font-weight: 550;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    width: 200px;
    margin: 0;
}

.linkDropDown:hover {
    border-left: 4px solid #56c596;
    color: #000000;
}

.actionButtons {
    display: flex;
    align-items: center;
}

.actionButtons.mobileMenu {
    display: block;
}

.loginButton,
.employersButton {
    display: inline;
    margin: 0 5px;
}

.loginButton > button > span {
    color: black;
}

.employersButton button {
    color: #ffffff;
    background-color: #56c596;
    border-color: transparent;
}

.employersButton button:hover {
    background-color: #4fae85;
    border-color: transparent;
}

.settingsIcon {
    margin-right: 20px;
}

.userMenu {
    margin-left: 20px;
}

.settingsIcon svg {
    color: #0073b1;
    font-size: 40px;
}

.menuBtn {
    display: none;
    margin: auto 0 auto auto;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
}

.rightMenu {
    background: rgb(32, 80, 114);
    background-image: linear-gradient(#0072b1, #009ea5);
    height: calc(100% - 24px) !important;
    position: absolute;
    width: 0;
    z-index: 999;
}

.rightMenu.opened {
    transition: width 0.3s ease-in-out 0s;
}

.mobileMenuItem {
    background: rgb(32, 80, 114);
    color: #ffffff;
    margin: 0 !important;
    display: none !important;
    width: 0 !important;
}

.mobileMenuItem.userDetails > div:first-child {
    padding-top: 10px !important;
    height: 80px !important;
}

.mobileMenuItem div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 24 !important;
    padding-right: 0 !important;
}

.userDetails.mobileMenuItem div {
    background-color: #329d9c !important;
}

.mobileMenuItem:hover,
.mobileMenuItem div:hover {
    background: rgb(32, 80, 114);
}

.mobileMenuItem div svg {
    color: #ffffff !important;
}

.mobileMenuItem a,
.mobileMenuItem a:hover,
.mobileMenuItem a:active,
.mobileMenuItem span,
.mobileMenuItem i {
    color: #ffffff;
}

.subMenuItem a,
.subMenuItem a:hover,
.subMenuItem a:active {
    color: #0073b1 !important;
}

.mobileMenuItemWithActionButtons {
    padding-left: 0 !important;
    margin: 0 !important;
    padding-right: 0 !important;
}

.userName {
    color: #ffffff;
    margin-left: 20px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait),
    (max-device-width: 1024px) {
    .submenu {
        margin-right: 15px;
        font-size: 14px;
    }

    .loginButton button,
    .employersButton button {
        height: 35px;
    }
}

@media only screen and (max-width: 1023px) {
    .headerComp {
        background-color: #0073b1;
        width: 100vw;
        z-index: 10000000;
        position: fixed;
    }

    .headerWrapper {
        font-size: 19px;
        border-bottom: 0;
        height: auto;
    }

    .header,
    .actionButtons {
        display: none;
    }

    .brand {
        font-size: 20px;
        margin: 5px 0;
        color: #fff;
        line-height: unset;
    }

    .menuBtn {
        display: block;
    }

    .opened .mobileMenuItem {
        display: block !important;
        width: auto !important;
    }

    .rightMenu.opened {
        width: 330px;
        height: 100vh !important;
    }

    .menuBtn {
        display: block;
    }

    .loginButton,
    .employersButton {
        margin: 0;
    }

    .loginButton button,
    .employersButton button {
        height: 40px;
        border-radius: 0;
        width: 165px;
    }
}
