.header {
    color: #000;
    font-size: 30px;
    height: 60px;
    border-bottom: 1px solid #474787;
}

.header>div {
    margin: 0 !important;
}

.mobileMenu {
    padding: 0 !important;
    display: none !important;
}

.headerIcon {
    text-align: center;
}

.submenu {
    color: #706fd3;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
}

.submenu:hover {
    color: #474787;
}

.loginButton,
.logoutButton,
.signupButton {
    display: inline;
    margin: 0 5px;
}

.loginButton button,
.logoutButton button,
.signupButton button {
    background-color: #474787;
}

.loginButton button:hover,
.logoutButton button:hover,
.signupButton button:hover {
    background-color: #706fd3;
}

.dropdownitem {
    width: 200px;
}

.linkDropDown {
    border-left: 4px solid #fff;
    font-weight: 550;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    width: 200px;
    margin: 0;
}

.linkDropDown:hover {
    border-left: 4px solid #706fd3;
    color: #706fd3;
}

.dropDownButton {
    color: cornflowerblue !important;
    cursor: pointer;
    padding: 2px;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
}

.loginIcon,
.registerIcon {
    color: cornflowerblue !important;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px 5px 5px;
    size: 14px;
}

.leftMenu {
    background: #fff;
    display: none;
    height: 100% !important;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
}

@media (min-width: 481px) and (max-width: 767px) {

    .mobileMenu,
    .leftMenu {
        display: block !important;
    }

    .desktopMenu {
        display: none !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .mobileMenu,
    .leftMenu {
        display: block !important;
    }

    .desktopMenu {
        display: none !important;
    }
}