.header {
    color: #000;
    font-size: 30px;
    border-bottom: 1px solid #474787;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.brand {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}

.headerLinks {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.menuBtn {
    display: none;
    margin-right: 0;
}

.userActions {
    margin-right: 20px;
}

.submenu {
    color: #706fd3;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
}

.submenu:hover {
    color: #474787;
}

.loginButton,
.logoutButton,
.signupButton {
    display: inline;
    margin: 0 5px;
}

.loginButton button,
.logoutButton button,
.signupButton button {
    background-color: #474787;
}

.loginButton button:hover,
.logoutButton button:hover,
.signupButton button:hover {
    background-color: #706fd3;
}

.dropdownitem {
    width: 200px;
}

.linkDropDown {
    border-left: 4px solid #fff;
    font-weight: 550;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    width: 200px;
    margin: 0;
}

.linkDropDown:hover {
    border-left: 4px solid #706fd3;
    color: #706fd3;
}

.dropDownButton {
    color: cornflowerblue !important;
    cursor: pointer;
    padding: 2px;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
}

.leftMenu {
    background: #fff;
    height: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: 999;
    transition: height 0.4s ease-in-out 0s;
}

@media (min-width: 481px) and (max-width: 767px), (min-width: 320px) and (max-width: 480px) {
    .header {
        background-color: #0073b1;
        font-size: 19px;
        padding: 6px 16px;
        border-bottom: 0;
        height: auto;
    }

    .brand {
        font-size: 20px;
        margin: auto 10px;
        color: #fff;
    }

    .headerLink {
        display: none;
    }

    .userActions {
        display: none;
    }

    .menuBtn {
        display: block;
    }

    .leftMenu.visible {
        visibility: visible;
        height: calc(100% - 44px) !important;
    }
}
