.jobPostWrapper {
    background-color: #12334f;
}

.jobPostHeader {
    color: #fff;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
/* 
.moveLeft {
    height: 0;
    opacity: 0;
    width: 0 !important;
    transform: translateX(-5000px);
    transition: transform 0.75s ease-in-out 0s, width 0s ease-in-out 0.75s, opacity 0s ease-in-out 0.75s;
}

.moveRight {
    width: auto;
    opacity: 1;
    transition: width 0.5s ease-in-out 0.5s, opacity 0s ease-in-out 0.5s;
} */

.stepperContainer {
    padding: 40px 40px;
}

.basicDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
}

.moreInfo {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
}

.buttonContainer {
    margin: 30px;
}
.actionButtons {
    display: inline;
    margin-right: 20px;
}
