.jobDetailsWrapper {
    overflow: auto;
}

.leftPannel {
    min-height: calc(100vh - 150px);
    margin-bottom: 10px;
    border-right: 1px solid #5e5e5e;
    overflow: auto;
}

.rightPanel {
    min-height: calc(100vh - 150px);
}

.paginationContainer {
    display: flex;
    justify-content: center;
}
