.jobDetailsWrapper {
}

.leftPannel {
    margin-bottom: 10px;
    border-right: 1px solid #5e5e5e;
    overflow: auto;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}
