.searchSection {
    display: flex;
    flex-direction: row;
    margin: 5px 0 !important;
}

.searchSection.fromHome {
    margin: 5px 0 !important;
}

.cityTransition {
    transition: width 0.4s ease-out 0s;
}

.typeTransition {
    transition: width 0.4s ease-out 0s;
}

.searchBox {
    flex-grow: 1;
}

.fromHome .searchBox {
    display: inline-flex;
}

.fromHome .searchBox input,
.fromHome .searchBox div {
    border-radius: 0;
}

.fromHome .actionBtns {
    display: inline-flex;
}

.fromHome .searchBtn {
    background-color: #ff6600;
    border-radius: 0;
    border-color: #ff6600;
    color: #ffffff;
    font-size: 18px;
}

.fromHome .searchBtn:hover {
    background-color: #fc7c26;
    border-color: #fc7c26;
}

@media (min-width: 481px) and (max-width: 767px) {
    .searchSection {
        margin: 10px 0 !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .searchSection {
        margin: 10px 0 !important;
    }
}

@media only screen and (max-device-width: 992px) {
    .searchSection {
        flex-direction: column;
    }

    .typeTransition > div,
    .cityTransition > div,
    .fromHome .searchBox > div {
        width: 100% !important;
        display: block !important;
        border-radius: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
