.app {
    min-height: 100%;
}

.contentWrapper {
    min-height: calc(100vh - 260px) !important;
    height: auto;
}

.content {
    margin: 20px 50px;
}

.hidden {
    visibility: hidden;
    transition: visibility 0s ease 0.4s;
}

@media (min-width: 481px) and (max-width: 767px) {
    .content {
        margin: 20px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .content {
        margin: 20px;
    }
}

@media only screen and (max-width: 1023px) {
    .contentWrapper {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1023px) {
    .overlayContainer {
        display: none;
    }
}
