.app {
    height: 100%;
}

.contentWrapper {
    min-height: calc(100vh - 260px) !important;
}

.content {
    margin: 20px 50px;
}

.hidden {
    visibility: hidden;
    transition: visibility 0s ease 0.4s;
}

@media (min-width: 481px) and (max-width: 767px) {
    .content {
        margin: 20px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .content {
        margin: 20px;
    }
}
