.app {
    min-height: 100%;
    font-family: Segoe UI;
}

.contentWrapper {
    min-height: calc(100vh - 260px) !important;
    height: auto;
}

.content {
    margin: 20px 50px;
}

.hidden {
    visibility: hidden;
    transition: visibility 0s ease 0.4s;
}

@media (min-width: 481px) and (max-width: 767px) {
    .content {
        margin: 20px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .content {
        margin: 20px;
    }
}

@media only screen and (max-width: 1023px) {
    .contentWrapper {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1023px) {
    .overlayContainer {
        display: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0073b126;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0073b1;
    border-radius: 10px;
    cursor: pointer;
}
