.header {
    align-self: flex-start;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
}

.initialContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeader {
    margin-bottom: 5px;
    text-align: center;
}

.uploadButton > div {
    display: block;
    width: 100%;
}

.uploadButton.textButton > div {
    display: inline;
}

.button {
    max-width: 300px;
    width: -webkit-fill-available;
    width: -moz-available;
}

.resume {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resume .remove {
    margin-right: 0;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}